<div class="list-group">
    <h3 class="list-group-item list-group-item-action active text-uppercase">
        {{ 'news.hot'|trans }}
    </h3>
    <div class="post-bxslider-wrapper">
        <div class="post-sidebar-bxslider">
            {% for row in posts %}
                {% set imagePath = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) %}
                {% set imagePathFilter = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_70_50') %}
                                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('news_406_280') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                {% endif %}
                <div class="item">
                    <h2>
                        <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" class="list-group-item td-list-group-item" title="{{ row.getTitle() }}">
                            <img
                                class="lazyload"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePathFilter) }}"
                                alt="{{ row.getTitle() }}"
                                width="70"
                                height="50" />
                            <span>{{ row.getTitle() }}</span>
                        </a>
                    </h2>
                </div>
            {% endfor %}
        </div>
    </div>
</div>