{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% set imagePath = (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : absolute_url(asset('assets/images/no-image.png'))) %}
{% set imagePathFilter = (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : absolute_url(asset('assets/images/no-image.png'))) | imagine_filter('news_share_800_420') %}

{% if convert_images.fileExists(imagePath) == false %}
    {% set imagePath = imagePath | imagine_filter('news_share_800_420') %}
{% else %}
    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
{% endif %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
    <meta property="article:author" content="admin" />
    <meta property="article:published_time" content="{{ post.getCreatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}" />
    <meta property="article:modified_time" content="{{ post.getUpdatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}" />
    <meta property="og:image" content="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePathFilter) }}" />
    <meta property="og:image:alt" content="{{ post.getTitle() }}" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="420" />
{% endblock %}

{% block structuredReview %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "CreativeWorkSeries",
        "name": "{{ post.getTitle() }}",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ rating }}",
            "ratingCount": "{{ ratingCount }}",
            "bestRating" : "5",
            "worstRating": "1"
        }
    }
    </script>
{% endblock %}

{% block body %}
    <div class="container page wrapper-post-container">
        {{ include('news/components/listPrices.html.twig', {hasContainer:false}) }}

        <div class="row post-container">
            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}

            <div class="col-12 col-md-12 col-lg-9 wrapper-post-container-left">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news">
                    <h1 class="entry-title block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ contentsLazy|replace({'10E3 Đường 30, P. Tân Phong, Quận 7, TP.HCM': 'A45 Đường Số 2, KDC Kim Sơn, P. Tân Phong, Quận 7, TP HCM'})|raw }}
                    </div>

                    {# Rating and Share #}
                    <div class="rating-share-container">
                        {{ include('news/rating/rating.html.twig') }}
                    </div>

                    {# List comments #}
                    {# {{ include('news/comments/list.html.twig') }} #}
                    
                    {# Render form comment #}
                    {# {{ include('news/comments/form.html.twig') }} #}
                </article>
            </div>

            <div class="col-12 col-md-12">
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':11, 'description':'Tổng hợp các dự án xây nhà phố, biệt thự, nhà tiền chế, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':10, 'description':'Tổng hợp các dự án sửa chữa nhà, cải tạo nhà cũ, nâng tầng, nâng nền, căn hộ chung cư, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':12, 'description':'Tổng hợp các dự án xây dựng, thiết kế, trang trí quán cafe, trà sữa nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
            </div>
        </div>
    </div>
{% endblock %}