{% extends 'layout.html.twig' %}

{% block title %}{{ 'post.archives.title'|trans({'%title%': q, '%currentPage%': pagination.currentPageNumber, '%totalPage%': pagination.pageCount}) }}{% endblock %}

{% block robots %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ 'post.archives.title'|trans({'%title%': q, '%currentPage%': pagination.currentPageNumber, '%totalPage%': pagination.pageCount}) }}" />
    <meta property="og:image" content="{{ absolute_url(convert_images.webpConvert2(asset('/assets/images/xaydungminhduy-2.jpg'), '')) }}" />
    <meta property="og:image:alt" content="{{ category.getPageTitle() }}" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="420" />
{% endblock %}

{% block body %}
    {# breadcrumbs #}
    {{ include('news/components/breadcrumbs.html.twig',
        { type: 'category', title: 'Kết quả tìm kiếm cho từ khoá: "' ~ q ~ '"', description: 'Vui lòng tìm lại nếu không đúng kết quả cần tìm' })
    }}

    <div class="container wrapper-container">
        <div class="row category-list-items">
            <div class="col-12 col-md-12 col-lg-12">
                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <div class="list-news-items">
                        <div class="row">
                            {% for row in pagination %}
                                {{ include('news/components/itemsGrid.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    {{ include('news/components/noRecord.html.twig') }}
                {% endif %}
            </div>
        </div>
        
        <div class="col-12 col-md-12">
            {{ render(controller(
                'AppBundle:News:listNewsByCategory', { 'categoryId':11, 'description':'Tổng hợp các dự án xây nhà phố, biệt thự, nhà tiền chế, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
            )) }}
            {{ render(controller(
                'AppBundle:News:listNewsByCategory', { 'categoryId':10, 'description':'Tổng hợp các dự án sửa chữa nhà, cải tạo nhà cũ, nâng tầng, nâng nền, căn hộ chung cư, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
            )) }}
            {{ render(controller(
                'AppBundle:News:listNewsByCategory', { 'categoryId':12, 'description':'Tổng hợp các dự án xây dựng, thiết kế, trang trí quán cafe, trà sữa nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
            )) }}
        </div>
    </div>
{% endblock %}