<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 marquee">
                <marquee scrollamount="7">{{ get_setting('marqueeHomepage')|raw }}</marquee>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <div class="skew-divider"></div>
                <div class="header-social-wrapper">
                    <span class="text-left">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/phone.png'), '')) }}" alt="Liên hệ Xây Dựng Minh Duy" width="14" height="14" />
                        <a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine1') }}</a>
                    </span>
                    <span class="text-left">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/email.png'), '')) }}" alt="Liên hệ Xây Dựng Minh Duy" width="14" height="14" />
                        <a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                    </span>
                    <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Minh Duy trên Facebook" rel="nofollow noreferrer">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/facebook.png'), '')) }}" alt="Xây Dựng Minh Duy trên Facebook" width="20" height="20" />
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Minh Duy trên Twitter" rel="nofollow noreferrer">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/twitterx.png'), '')) }}" alt="Xây Dựng Minh Duy trên Twitter" width="20" height="20" />
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Minh Duy trên Youtube" rel="nofollow noreferrer">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/youtube.png'), '')) }}" alt="Xây Dựng Minh Duy trên Youtube" width="20" height="20" />
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Minh Duy trên Linkedin" rel="nofollow noreferrer">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/linkedin.png'), '')) }}" alt="Xây Dựng Minh Duy trên Linkedin" width="20" height="20" />
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Xây Dựng Minh Duy trên Google Plus" rel="nofollow noreferrer">
                        <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/pinterest.png'), '')) }}" alt="Xây Dựng Minh Duy trên Pinterest" width="20" height="20" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-container banner d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="logo_top">
                <div id="logo">								
                    <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                        <img alt="{{ get_setting('siteName') }}" src="{{ asset(convert_images.webpConvert2(asset('/assets/images/logo.png'), '')) }}" width="354" height="72" >
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-top">
                    <div class="wp90">
                        <div class="info-nd" id="output">
                            <p class="tel text-uppercase" id="header-company"></p>
                            <p class="text-uppercase" id="header-address"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info-top hotline-top">
                    <div class="wp90 pull-right">
                        <div class="info-nd">
                            <p class="tel text-uppercase">
                                <a href="tel:{{ get_setting('hotLine2') }}"><img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/iphone.png'), '')) }}" alt="Liên hệ Xây Dựng Minh Duy" width="20" height="20" /> {{ get_setting('hotLine1') }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header -->