{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% set imagePath = asset('/assets/images/banner/minhduy-banner-2.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/minhduy-banner-2.jpg') | imagine_filter('banner_1360_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/minhduy-banner-2.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1360_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Chuyên thi công xây nhà trọn gói tại TP HCM"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Minh Duy</h2>
                        <p>Công ty chuyên thi công xây nhà trọn gói tại TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/xaydungminhduy-banner-3.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xaydungminhduy-banner-3.jpg') | imagine_filter('banner_1360_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xaydungminhduy-banner-3.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1360_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <picture>
                    <source
                        srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                        media="(max-width: 799px)" />
                    <source
                        srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        media="(min-width: 800px)" />
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        alt="Thi công xây nhà trọn gói Quận 12"
                        class="lazyload" />
                </picture>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2>Thi công xây nhà trọn gói Quận 12</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/minhduy-banner-1.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/minhduy-banner-1.jpg') | imagine_filter('banner_1360_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/minhduy-banner-1.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1360_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <picture>
                    <source
                        srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                        media="(max-width: 799px)" />
                    <source
                        srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        media="(min-width: 800px)" />
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        alt="Công ty xây dựng uy tín, chuyên nghiệp"
                        class="lazyload" />
                </picture>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2>Công ty xây dựng uy tín, chuyên nghiệp</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/thiet-ke-thi-cong-quan-cafe-1.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/thiet-ke-thi-cong-quan-cafe-1.jpg') | imagine_filter('banner_1360_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/thiet-ke-thi-cong-quan-cafe-1.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1360_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'thiet-ke-thi-cong-tron-goi-quan-cafe' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Xây nhà phố 3 tầng, Thầy Hạnh"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Thiết kế, thi công quán Cafe</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/minhduy-cong-ty-sua-nha-1.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/minhduy-cong-ty-sua-nha-1.jpg') | imagine_filter('banner_1360_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/minhduy-cong-ty-sua-nha-1.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1360_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Công ty sửa nhà uy tín tại TPHCM"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Công ty sửa nhà uy tín tại TPHCM</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}