<!doctype html>
<html ⚡ lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="canonical" href="{{ url('news_show', { slug: post.getUrl() }) }}">
        <title>{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}</title>
        <meta name="description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}">
        <meta name="keywords" content="{{ post.getPageKeyword() }}">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "CreativeWorkSeries",
                "name": "{{ post.getTitle() }}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "{{ rating }}",
                    "ratingCount": "{{ ratingCount ? ratingCount : 1 }}",
                    "bestRating" : "5",
                    "worstRating": "1"
                }
            }
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <style amp-boilerplate>
            {% include '@amp_theme/css/amp-boilerplate.html.twig' %}</style>
        {% include '@amp_theme/css/amp-boilerplate-noscript.html.twig' %}
        <style amp-custom>
            {% include '@amp_theme/css/amp-custom.html.twig' %}</style>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
        <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    </head>
    <body>
        <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-KGN9ZTG&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>
        <amp-analytics type="googleanalytics" config="{{ absolute_url(asset('ga4.json')) }}" data-credentials="include">
            <script type="application/json">
            {
                "vars": {
                    "GA4_MEASUREMENT_ID": "G-4VE1NFJXGT",
                    "GA4_ENDPOINT_HOSTNAME": "www.google-analytics.com",
                    "DEFAULT_PAGEVIEW_ENABLED": true,
                    "GOOGLE_CONSENT_ENABLED": false,
                    "WEBVITALS_TRACKING": false,
                    "PERFORMANCE_TIMING_TRACKING": false,
                    "SEND_DOUBLECLICK_BEACON": false
                },
                "triggers": {
                    "zalo": {
                        "on": "click",
                        "selector": ".call-zalo",
                        "request": "ga4Event",
                        "vars": {
                            "ga4_event_name": "amp-zalo"
                        }
                    },
                    "facebook": {
                        "on": "click",
                        "selector": ".call-facebook",
                        "request": "ga4Event",
                        "vars": {
                            "ga4_event_name": "amp-facebook"
                        }
                    },
                    "hotline": {
                        "on": "click",
                        "selector": ".call-now",
                        "request": "ga4Event",
                        "vars": {
                            "ga4_event_name": "amp-hotline"
                        }
                    }
                }
            }
            </script>
        </amp-analytics>
        <amp-animation id="showAnim" layout="nodisplay">
            <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [
                        {
                        "selector": "#scrollToTopButton",
                        "keyframes": [
                            { "opacity": "1", "visibility": "visible" }
                        ]
                        }
                    ]
                    }
            </script>
        </amp-animation>
        <amp-animation id="hideAnim" layout="nodisplay">
            <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [
                        {
                        "selector": "#scrollToTopButton",
                        "keyframes": [
                            { "opacity": "0", "visibility": "hidden" }
                        ]
                        }
                    ]
                }
            </script>
        </amp-animation>

        <div class="wrapper-container">
            <header role="banner" id="top">
                <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay">
                </amp-position-observer>
                <a href="{{ path('homepage') }}" class="header-link">
                    <amp-img
                        alt="{{ get_setting('siteName') }}"
                        src="{{ asset('assets/images/logo.png') }}"
                        width="308"
                        height="62"
                        layout="responsive"
                    >
                    </amp-img>
                </a>
            </header>

            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox"/>
                    <span></span>
                    <span></span>
                    <span></span>
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {
                        'allow_safe_labels': true,
                    })|raw }}
                </div>
            </nav>

            {{ include('news/components/breadcrumbs.html.twig') }}

            <article role="article" itemscope itemtype="http://schema.org/Article">
                {% set imagePath = (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : absolute_url(asset('assets/images/no-image.png'))) %}
                {% set imagePathFilter = (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : absolute_url(asset('assets/images/no-image.png'))) | imagine_filter('news_share_800_420') %}

                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('news_share_800_420') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                {% endif %}

                <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ absolute_url(path('news_show', {'slug': post.getUrl() })) }}"/>
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="{{ get_setting('siteName') }}"/>
                    <meta itemprop="url" content="https://xaydungminhduy.business.site/"/>
                </div>
                <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePathFilter) }}">
                    <meta itemprop="width" content="800">
                    <meta itemprop="height" content="420">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                        <meta itemprop="url" content="{{ asset(convert_images.webpConvert2(asset('/assets/images/logo.png'), '')) }}">
                        <meta itemprop="width" content="308">
                        <meta itemprop="height" content="62">
                    </div>
                    <meta itemprop="name" content="{{ get_setting('siteName') }}">
                </div>
                <meta itemprop="datePublished" content="{{ post.getCreatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}"/>
                <meta itemprop="dateModified" content="{{ post.getUpdatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}"/>

                <h1 itemprop="headline">{{ post.title }}</h1>
                <div class="article-content" itemprop="articleBody">
                    {{ contentsAmp|replace({'10E3 Đường 30, P. Tân Phong, Quận 7, TP.HCM': 'A45 Đường Số 2, KDC Kim Sơn, P. Tân Phong, Quận 7, TP HCM'})|raw }}
                </div>

                {# List tags #}
                {{ include('amp/amp-theme/tags.html.twig') }}

                {# Q&A #}
                {{ include('news/components/qa.html.twig') }}

                {# List comments #}
                {{ include('amp/amp-theme/related.html.twig') }}

                {# List comments #}
                {{ include('amp/amp-theme/list.html.twig') }}
            </article>

            <footer>
                <div class="container">
                    <div class="row footer-top">
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Dịch vụ của chúng tôi</h3>
                            <ul class="about-us">
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'gioi-thieu' }) }}">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Bảng giá xây nhà trọn gói">Bảng giá xây nhà trọn gói</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Bảng giá sửa nhà trọn gói">Bảng giá sửa nhà trọn gói</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Bảng giá xây dựng nhà phần thô">Bảng giá xây dựng nhà phần thô</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-nhan-cong' }) }}" title="Bảng giá nhân công">Bảng giá nhân công</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-thiet-ke-nha-pho' }) }}" title="Bảng giá thiết kế nhà phố">Bảng giá thiết kế nhà phố</a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Từ khóa</h3>
                            {{ get_setting('topKeyword')|raw }}
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Xây Dựng Minh Duy</h3>
                            <ul class="footer-company">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>{{ get_setting('companyAddress') }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>{{ get_setting('hotLine1') }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <span>{{ get_setting('emailContact') }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-internet-explorer"></i>
                                    <span>{{ get_setting('companyWebsite') }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row footer-middle">
                        <div class="col-12 col-md-12 col-lg-3 hidden-xs hidden-sm">
                            <a class="footer-logo" href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                                <amp-img
                                    alt="{{ get_setting('siteName') }}"
                                    src="{{ asset('assets/images/logo-footer.png') }}"
                                    width="297"
                                    height="209"
                                    layout="responsive"
                                >
                                </amp-img>
                            </a>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <h3 class="text-uppercase">Về chúng tôi</h3>
                            <div class="footer-text-wrap">
                                {{ get_setting('siteNameDescription')|raw }}
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <h3 class="text-uppercase">Mạng xã hội</h3>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Sửa Nhà Minh Duy trên Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Sửa Nhà Minh Duy trên Google plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Sửa Nhà Minh Duy trên Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Sửa Nhà Minh Duy trên Youtube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Sửa Nhà Minh Duy trên Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </span>
                            <div class="event-footer row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="event-footer-item">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}">
                                                <span>➊ Sửa nhà trọn gói</span>
                                            </a>
                                        </h6>
                                        <script type="application/ld+json">
                                        {
                                            "@context": "https://schema.org",
                                            "@type": "Event",
                                            "name": "➊ Sửa nhà trọn gói",
                                            "startDate": "2023-01-01T4:00-05:00",
                                            "endDate": "2026-01-01T4:00-05:00",
                                            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                                            "eventStatus": "https://schema.org/EventScheduled",
                                            "location": {
                                                "@type": "Place",
                                                "name": "☎️ Báo Giá 0982.96.93.79",
                                                "address": {
                                                    "@type": "PostalAddress",
                                                    "streetAddress": "A45 Đường Số 2, KDC Kim Sơn, P. Tân Phong, Quận 7",
                                                    "addressLocality": "Ho Chi Minh",
                                                    "postalCode": "700000",
                                                    "addressRegion": "VN",
                                                    "addressCountry": "VN"
                                                }
                                            },
                                            "image": [
                                                "{{ asset('assets/images/logo.png') }}"
                                            ],
                                            "description": "➊ Sửa nhà trọn gói",
                                            "offers": {
                                                "@type": "Offer",
                                                "url": "{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}",
                                                "price": "0",
                                                "priceCurrency": "VND",
                                                "availability": "https://schema.org/InStock",
                                                "validFrom": "2023-01-01T4:00"
                                            },
                                            "performer": {
                                                "@type": "PerformingGroup",
                                                "name": "Xây Dựng Minh Duy"
                                            },
                                            "organizer": {
                                                "@type": "Organization",
                                                "name": "Xây Dựng Minh Duy",
                                                "url": "https://xaydungminhduy.com/"
                                            }
                                        }
                                    </script>
                                    </div>
                                    <div class="event-footer-item">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}">
                                                <span>➋ Xây nhà trọn gói</span>
                                            </a>
                                        </h6>
                                        <script type="application/ld+json">
                                        {
                                            "@context": "https://schema.org",
                                            "@type": "Event",
                                            "name": "➋ Xây nhà trọn gói",
                                            "startDate": "2023-02-02T5:00-05:00",
                                            "endDate": "2026-02-02T5:00-05:00",
                                            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                                            "eventStatus": "https://schema.org/EventScheduled",
                                            "location": {
                                                "@type": "Place",
                                                "name": "☎️ Báo Giá 0982.96.93.79",
                                                "address": {
                                                    "@type": "PostalAddress",
                                                    "streetAddress": "A45 Đường Số 2, KDC Kim Sơn, P. Tân Phong, Quận 7",
                                                    "addressLocality": "Ho Chi Minh",
                                                    "postalCode": "700000",
                                                    "addressRegion": "VN",
                                                    "addressCountry": "VN"
                                                }
                                            },
                                            "image": [
                                                "{{ asset('assets/images/logo.png') }}"
                                            ],
                                            "description": "➋ Xây nhà trọn gói",
                                            "offers": {
                                                "@type": "Offer",
                                                "url": "{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}",
                                                "price": "4500000",
                                                "priceCurrency": "VND",
                                                "availability": "https://schema.org/InStock",
                                                "validFrom": "2023-02-02T5:00"
                                            },
                                            "performer": {
                                                "@type": "PerformingGroup",
                                                "name": "Xây Dựng Minh Duy"
                                            },
                                            "organizer": {
                                                "@type": "Organization",
                                                "name": "Xây Dựng Minh Duy",
                                                "url": "https://xaydungminhduy.com/"
                                            }
                                        }
                                    </script>
                                    </div>
                                    <div class="event-footer-item">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'bao-gia-thiet-ke-thi-cong-quan-cafe-tron-goi-tai-tphcm' }) }}">
                                                <span>➌ Thi công quán cafe</span>
                                            </a>
                                        </h6>
                                        <script type="application/ld+json">
                                        {
                                            "@context": "https://schema.org",
                                            "@type": "Event",
                                            "name": "➌ Thi công quán cafe",
                                            "startDate": "2023-03-03T6:00-05:00",
                                            "endDate": "2026-03-03T6:00-05:00",
                                            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                                            "eventStatus": "https://schema.org/EventScheduled",
                                            "location": {
                                                "@type": "Place",
                                                "name": "☎️ Báo Giá 0982.96.93.79",
                                                "address": {
                                                    "@type": "PostalAddress",
                                                    "streetAddress": "A45 Đường Số 2, KDC Kim Sơn, P. Tân Phong, Quận 7",
                                                    "addressLocality": "Ho Chi Minh",
                                                    "postalCode": "700000",
                                                    "addressRegion": "VN",
                                                    "addressCountry": "VN"
                                                }
                                            },
                                            "image": [
                                                "{{ asset('assets/images/logo.png') }}"
                                            ],
                                            "description": "➌ Thi công quán cafe",
                                            "offers": {
                                                "@type": "Offer",
                                                "url": "{{ path('news_show', {'slug': 'bao-gia-thiet-ke-thi-cong-quan-cafe-tron-goi-tai-tphcm' }) }}",
                                                "price": "4500000",
                                                "priceCurrency": "VND",
                                                "availability": "https://schema.org/InStock",
                                                "validFrom": "2023-03-03T6:00"
                                            },
                                            "performer": {
                                                "@type": "PerformingGroup",
                                                "name": "Xây Dựng Minh Duy"
                                            },
                                            "organizer": {
                                                "@type": "Organization",
                                                "name": "Xây Dựng Minh Duy",
                                                "url": "https://xaydungminhduy.com/"
                                            }
                                        }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-sm-12 text-center">
                            <p>Copyright © {{ "now"|date('Y') }} <a href="https://xaydungminhduy.com/" title="Xây Dựng Minh Duy">Xây Dựng Minh Duy</a>, all rights reserved.</p>
                        </div>
                    </div>
                </div>

                <ul class="giuseart-pc-contact-bar">
                    <li class="facebook">
                        <a class="call-facebook" href="https://m.me/minhduyconstruction" target="_blank" title="Chát với chúng tôi" rel="nofollow noreferrer"></a>
                    </li>
                    <li class="zalo">
                        <a class="call-zalo" href="https://zalo.me/{{ get_setting('hotLine1')|replace({'.': ''}) }}" target="_blank" title="Chát với chúng tôi" rel="nofollow noreferrer"></a>
                    </li>
                </ul>

                <button class="td-scroll-up go-to-top td-scroll-up-visible hidden scrollToTop" id="scrollToTopButton" on="tap:top.scrollTo(duration=200)">
                    <i class="fa fa-chevron-up"></i>
                </button>

                <aside class="floating container hidden-sm hidden-md hidden-lg">
                    <section class="row inside cover">
                        <a class="call-now col-xs-6" href="tel:{{ get_setting('hotLine2') }}" title="Hotline: {{ get_setting('hotLine1') }}">
                            <div>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span class="call-hotline">Hotline</span>
                                <strong class="call-hotline">{{ get_setting('hotLine1') }}</strong>
                            </div>
                        </a>
                        <a class="chat-us col-xs-6" href="{{ path('contact') }}">
                            <div>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="call-contact">Gửi yêu cầu</span>
                                <strong class="call-contact">báo giá</strong>
                            </div>
                        </a>
                    </section>
                </aside>
            </footer>
        </div>
    </body>
</html>

