<div class="{% if hasContainer is defined %}{% else %}container{% endif %}">
    <div class="row bang-gia">
        <div class="one col-12 col-sm-12 col-md-3">
            <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                <img
                    width="234"
                    height="47"
                    alt="{{ get_setting('siteName') }}"
                    loading="lazy"
                    src="{{ asset(convert_images.webpConvert2(asset('/assets/images/logo.png'), '')) }}" >
            </a>
        </div>
        <div class="two col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Đơn giá xây nhà trọn gói">
                    <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/building.png'), '')) }}" alt="Đơn giá xây nhà trọn gói" width="18" height="18" />
                    Đơn giá xây nhà trọn gói
                </a>
            </div>
        </div>
        <div class="three col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Đơn giá sửa nhà trọn gói">
                    <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/home-automation.png'), '')) }}" alt="Đơn giá sửa nhà trọn gói" width="18" height="18" />
                    Đơn giá sửa nhà trọn gói
                </a>
            </div>
        </div>
        <div class="four col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Đơn giá xây dựng phần thô">
                    <img src="{{ asset(convert_images.webpConvert2(asset('/assets/images/construction-worker.png'), '')) }}" alt="Đơn giá xây dựng phần thô" width="18" height="18" />
                    Đơn giá xây dựng phần thô
                </a>
            </div>
        </div>
    </div>
</div>