{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container contacts wrapper-post-container">
        {{ include('news/components/listPrices.html.twig', {hasContainer:false}) }}

        <div class="row post-container">
            {{ include('layout/sidebar.html.twig') }}
            
            <div class="col-xs-12 col-sm-12 col-md-9">
                {{ include('news/components/breadcrumbs.html.twig') }}
                
                <div class="company">
                    <h1 class="text-uppercase h1-title-contact">Xây Dựng Minh Duy</h1>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span><strong>VPGD: {{ get_setting('companyAddress') }}</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><strong>{{ get_setting('hotLine1') }} - A Minh</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span><strong>{{ get_setting('emailContact') }}</strong></span>
                        </li>
                        <li>
                            <i class="fab fa-internet-explorer"></i>
                            <span><strong>{{ get_setting('companyWebsite') }}</strong></span>
                        </li>
                    </ul>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        window.dataLayer.push({
                            'event': 'subscriber'
                        });
                    </script>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-12 col-md-12">
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':11, 'description':'Tổng hợp các dự án xây nhà phố, biệt thự, nhà tiền chế, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':10, 'description':'Tổng hợp các dự án sửa chữa nhà, cải tạo nhà cũ, nâng tầng, nâng nền, căn hộ chung cư, nhà cấp 4, ... nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId':12, 'description':'Tổng hợp các dự án xây dựng, thiết kế, trang trí quán cafe, trà sữa nổi bật do Xây Dựng Minh Duy đã và đang thực hiện' }
                )) }}
            </div>
        </div>
    </div>
{% endblock %}